{% extends "base.html" %}
{% load static %}

{% block contenido %}

    <section id="top-image" class="blog-page" style="background-image: url({% static 'img/ours/ecommerce5.png' %});">
        <div class="overlay-mask"></div>
        <div class="page-title-section row">
            <div class="large-9 large-centered small-centered columns">
                <h4>E-Commerce</h4>
                <p></p>
            </div>
        </div>

        <header id="top-header" class="homepage-header ">
            <a href="#" class="explore" style="background-image: url({% static 'img/scroll-arrow.png' %});"></a>
            <div class="row">
                <div class="large-12  columns ">
                    <div class="logo-holder">
                        <a href="/" title="MP">
							<img src="{% static 'img/ours/logo_resumido.jpg' %}"/>
						</a>
                    </div>
                    <div class="skew-wrapper"></div>
                    <ul id="nav-menu" class="menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-1080"><a href="/">Home</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1087"><a href="/#section-one">About</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1087"><a href="/#services">Services</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1123"><a href="/ereputation">E-reputation</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1121"><a href="/brand">Corporate Identity</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1122"><a href="/responsive">Responsive Design</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1123"><a href="#">E-Commerce</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1087"><a href="/#ereputation">E-reputation</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1087"><a href="/leaders">Leaders</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1087"><a href="/businesses">Businesses</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1087"><a href="/#section-three">Team</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1085"><a href="/#section-gallery">Gallery</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1087"><a href="/#contact-section">Contact</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <!-- Social Icons -->
        <ul id="socials">
            <li><a target="_blank" title="Twitter" href="https://twitter.com/aokgeorge"><i class="fa fa-twitter"></i></a></li>
            <li><a target="_blank" title="LinkedIn" href="https://www.linkedin.com/in/gnavarrog1802"><i class="fa fa-linkedin"></i></a> </li>
        </ul>

    </section>

    <section>
        <div class="row">
            <div class="large-12 columns">
                <div class="single-content row">
                    <div class="large-6 columns" style="text-align: justify">
                        <h4>eCommerce strategy</h4>
                        <p class="justify columns">
                            To successfully launch your eCommerce business or a new milestone in your development, it is necessary to build your eCommerce strategy focusing on:
                        </p>
                        <ul>
                            <li>The place and importance of this channel in the overall strategy of your company</li>
                            <li>Its positioning against your competitors on Internet</li>
                        </ul>
                        <p class="justify columns">
                            Thought to fight agaist your competitors, your ecommerce strategy will identify every opportunity to develop your turnover and budgets to invest.
                            Our marketing team define the technological challenges to be reach and the principal ideas to have an updated and profitable eCommerce website.
                        </p>
                        <h4>Develop a profitable business</h4>
                        <p class="justify columns">
                            Our goal, create a business tool at the disposal of your customers, your brand, your performance, and your audience.
                            To satisfy all users and the ambitious objectives defined in your eCommerce strategy, all our actions are measured,
                            tracked , managed and studied, every week to monitor the performance of your e-commerce site.
                        </p>
                    </div>
                    <div class="large-6 columns">
                        <div class="single-images row">
                            <figure>
                                <img src="{% static 'img/ours/ecommercelado.png' %}"  width="550" height="550" alt="Marketing Belly 2015" >
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <p class="justify columns fontcomun">
                Discover an array of Ecommerce services that suits all your needs including hosting, web development, SSL certificates, online secured payment, digital marketing…
                As we are e-reputation oriented we have in mind that brand identity is the first argument of sale so we create beautiful, technically elegant platforms for today's
                fashionable ecommerce. Our first guarantee is to allow you to increase conversion rates and accompaign you in the development of your brand.
            </p>
        </div>
        <br/>
        <br/>
        <div class="slider-wrapper">
            <div class="single-slider row">
                <div class="flexslider">
                    <ul class="slides">
                        <li><img src="{% static 'img/ours/ecommerce1.png' %}" alt="slider1"></li>
                        <li><img src="{% static 'img/ours/ecommerce2.png' %}" alt="slider2"></li>
                        <li><img src="{% static 'img/ours/ecommerce3.png' %}" alt="slider3"></li>
                        <li><img src="{% static 'img/ours/ecommerce4.png' %}" alt="slider4"></li>
                        <li><img src="{% static 'img/ours/ecommerce5.png' %}" alt="slider5"></li>
                    </ul>
                </div>
            </div>
        </div>

    </section>

    <section id="contact-two-section" class="section-wrapp-container" style="padding-top: 80px; padding-bottom: 80px;">
		<div class="row">
			<div class="columns large-9 large-centered small-centered intro-text">
		 		<h2>Get in touch</h2>
				<p class="fontcomun">
				   Don't hesitate to contact us for any information about our service or
                    if you are interested in a job position, intership or conference.
				</p>
			</div>
		</div>
		<div class="row contact-map-section" style="background-image:url({% static 'img/ours/ecuador-eps.png' %})">
			<div class="large-10 columns large-centered small-centered waypoint-element">
				<div>
					<br><br><br><br>
				</div>

				<div class="large-5 columns flip-container2">
					<div class="flipper2">
						<div class="wrap2 front2">
							<div class="border border-one"></div>
							<div class="border border-two"></div>
							<h2>George Navarro</h2>
							<span>Project Manager</span>
							<ul>
								<li><a href="mailto:gnavarrog1802@gmail.com">gnavarrog1802@gmail.com</a></li>
								<li>+1 (786) 663-0517</li>
							</ul>
						</div>
						<div class="back2 wrap2">
							<div class="border border-one"></div>
							<div class="border border-two"></div>
							<span>Senior Software Developer</span>
							<p>
                                Team leader, always willing to teach and help. He's responsible with job and likes teamwork enviroment
                            </p>
						</div>
					</div>
				</div>

                <div class="large-5 columns flip-container2">
					<div class="flipper2">
						<div class="wrap2 front2">
							<div class="border border-one"></div>
							<div class="border border-two"></div>
							<h2>Maria Pons</h2>
							<span>Digital Supervisor</span>
							<ul >
								<li><a href="mailto:mcpons2010@hotmail.es">mcpons2010@hotmail.es</a></li>
								<li>+1 (786) 663-7015</li>
							</ul>
						</div>
						<div class="back2 wrap2">
							<div class="border border-one"></div>
							<div class="border border-two"></div>
							<span>Digital Marketing Manager</span>
							<p>
                                Person with good cheer work inspiring the team with a good positive attitude, always thinking of getting ahead.
                            </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}