{% extends "base.html" %}
{% load static %}

{% block contenido %}

	<section id="top-image" class="blog-page" style="background-image: url({% static 'img/ours/ereputation3.png' %});">
		<div class="overlay-mask"></div>
		<div class="page-title-section row">
			<div class="large-9 large-centered small-centered columns">
			<h4>E-reputation</h4>
			<p></p>
			</div>
		</div>

		<!-- Header Menu -->
		<header id="top-header" class="homepage-header ">
			<a href="#" class="explore" style="background-image: url({% static 'img/scroll-arrow.png' %});"></a>
			<div class="row">
				<div class="large-12  columns ">
					<div class="logo-holder">
						<a href="/" title="MP">
							<img src="{% static 'img/ours/logo_resumido.jpg' %}"/>
						</a>
					</div>
					<div class="skew-wrapper"></div>
					<ul id="nav-menu" class="menu">
						<li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-1080"><a href="/">Home</a></li>
						<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1087"><a href="/#section-one">About</a></li>
						<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1087"><a href="/#services">Services</a>
							<ul class="sub-menu">
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1123"><a href="#">E-reputation</a></li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1121"><a href="/brand">Corporate Identity</a></li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1122"><a href="/responsive">Responsive Design</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1123"><a href="/ecommerce">E-Commerce</a></li>
							</ul>
						</li>
						<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1087"><a href="/#ereputation">E-reputation</a>
							<ul class="sub-menu">
								<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1087"><a href="/leaders">Leaders</a></li>
								<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1087"><a href="/businesses">Businesses</a></li>
							</ul>
						</li>
						<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1087"><a href="/#section-three">Team</a></li>
						<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1085"><a href="/#section-gallery">Gallery</a></li>
						<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1087"><a href="/#contact-section">Contact</a></li>
					</ul>
				</div>
			</div>
		</header>

		<!-- Social Icons -->
		<ul id="socials">
			<li> <a target="_blank" title="Twitter" href="https://twitter.com/aokgeorge"><i class="fa fa-twitter"></i></a> </li>
			<li> <a target="_blank" title="LinkedIn" href="https://www.linkedin.com/in/gnavarrog1802"><i class="fa fa-linkedin"></i></a> </li>
		</ul>

	</section>

	<!-- Blog Section -->
	<section id="blog-posts-two">

		<!-- Blog Post -->
		<div class="row blog-post single-blog-post">
			<div class="large-offset-2 columns"></div>
			<div class=" columns page-subtitle">
 				<img src="{% static 'img/ours/Brain.jpg' %}" style="width: 800px ; height: 250px">
				<div class="single-content row">
					<div class="columns">
						<h5  class="fontcomun" style="text-align: left">
							Basically, e-reputation is <em>the perception of visitors on your company, your brand or leaders.</em>
						</h5><br>
						<div class="row">
							<div class="large-12 small-12 columns" style="padding-bottom: 50px; text-align: center">
								<video id="video_player" width="100%" height="100%" poster="{% static 'img/ours/ereputation1.png' %}" controls="controls">
									<source type="video/webm" src="/media/ereputation.webm">
									<source type="video/mp4" src="/media/ereputation.mp4">         <!-- MP4 for Safari, IE9, iPhone, iPad, Android, and Windows Phone 7 -->
									Your browser does not support the video tag.
								</video>
							</div>
						</div>
						<p class="fontcomun" style="text-align: justify">
							"E-reputation is the perception that people (customers, media, competitors ...) will get from the flow of information they find about you or your business on the web.
							This perception is determined by the order of information itself but also by the actors of your close economic/social environment: your employees, your suppliers, your competitors,
							your customers… etc. Those actors compose your reputational sphere."
						</p><br><br>
						<p class="fontcomun" style="text-align: justify" >
							This e-reputation sphere is composed by bloggers, journalists and internet users who speak through various channels on the web (Twitter, Facebook, interactive media, Instagram, forums, platforms, consumer webzines ... etc).
							Those contributors does not necessarily belong to your close economic environment, they can have many profiles (fans, critics, polemicists, customers, prospects).
						</p><br><br>
							<div class="large-12 columns">
								<img src="{% static 'img/ours/revista.png' %}"/><br><br>
								<p style="text-align: center"> <b style="color: #ff0000">Source image:</b> French Magazine Télérama October 2010, Nothing fades on internet</p>
							</div><br>
						<p class="fontcomun" style="text-align: justify">
							This e-reputation sphere is composed by bloggers, journalists and internet users who speak through various channels on the web
							(Twitter, Facebook, interactive media, Instagram, forums, platforms, consumer webzines ... etc). Those contributors does not necessarily belong to your close economic environment,
							they can have many profiles (fans, critics, polemicists, customers, prospects).
						</p>

						 <h5 style="text-align: left">
							The value of perception
						</h5>

						<p class="fontcomun" style="text-align: justify">
							A company can be more efficient than its competitor but benefit from lower online reputation, it changes the game score for sure because like in the ancient Roman arenas,
							people can bring you to a higher success or precipitate your loss.
							There are multiple reasons why a business or a leader does not receive the recognition it deserves when it comes to the quality of its work, one of this reasons is the your capability
							to <span style="color: #ff0000">gather active communities which are dynamic enough to enhance your online reputation to reinforce your company values, ethics and quality of service.</span>
						</p>
						<p class="fontcomun" style="text-align: justify">
							As a matter of fact, e-reputation creates a positive environment for your business or career which conveys your values and so makes easier the acquisition of new
							customers or the celebration of your last work performance.
						</p>
						<h5 style="text-align: left">How do I know if I need to monitor my business´ e-reputation? Protect my professional life?</h5>
						<ul class="fontcomun" style="text-align: justify" >
							<li>If internet users express more and more about your business/job performance</li>
							<li>If at an individual level or as a brand/business you are exposed outside your own communication channels (your official website or your official youtube channel… etc).
						</ul>
						<h5 style="text-align: left">Google is the principal vector of your ereputation</h5>
						<p class="fontcomun" style="text-align: justify">A search engine, in terms of e-reputation, is a prism who determines which informations will have more visibility than others, and so influence the audience´s perception about you or your business.
						</p>
						<h5 style="text-align: left">Controlling order and referencing data</h5>
						<p  class="fontcomun" style="text-align: justify" >
							In your everyday life when you introduce yourself you choose the order of informations while in your virtual life you depend entirely on the Google`s algorythms.<br>
							Control what Google says about you determines the perception of your audience.
							What your audience find on internet depends on the way search engines order and reference your data. With our Ebodyguard protection, we a better knowledgement of Google algorythms to control the  content and the order of informations which appera your firts results page.
						</p>
						<h5 style="text-align: left">Ebodyguard a SEO solution for content management</h5>
						<p class="fontcomun" style="text-align: justify">
							As each internet user encounters different information flows, the vision that they will have from you or your business will vary depending on the source they consult
							(web media, social networks, profesional networks, press reviews.. etc). This is why principal role of Ebodyguard is to give an authentic image of a Brand or leader by using a SEO management
							rather to drown a bad buzz under a huge number of other informations.
						</p>

						<h5 style="text-align: left">Webresponsive</h5>
						<p class="fontcomun" style="text-align: justify">
							The Responsive Web Design is a web design approach aimed to offer a enhanced reading experience and an intuitive navigation for the user regardless the kind of device they use (mobile phones, tablets, e-readers… etc).
							User experience<span style="color: #ff0000"> "Responsive"</span> successful involves resizing minimum (zoom), cropping, and multidirectional scrolling pages.
						</p>
						<br>
						<br>
					</div>
					<div class="large-6 columns">
                        <h4>What is Ebodyguard ?</h4>
						<p class="fontcomun" style="text-align: justify">
							Ebodyguard is a monitoring tool of social networks and different types of sources.
							Based on a search engine that continuously scans various types of sources (online press, blogs, forums, microblogs, social networks, videos, photos ...) Ebodyguard allows you to track what is said about you, your business or your competitors on the web, to optimise your community management interact closer with your communities.
							Ebodyguard collects for you all the search results within a single interface where you have analysis tools, you can measure the impact of your marketing actions on social networks and have a better quality of dialogue with your followers and detractors.
                        </p>
					</div>
					<div class="large-6 columns">
						<div class="single-images row">
							<img src="{% static 'img/ours/Ebodyguard.png' %}" height="420" width="360" alt="Featured Image">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="slider-wrapper">
			<div class="single-slider row">
				<div class="flexslider">
					<ul class="slides">
                        <li><img src="{% static 'img/ours/ereputation1.png' %}" alt="slider1"></li>
                        <li><img src="{% static 'img/ours/ereputation2.png' %}" alt="slider2"></li>
                        <li><img src="{% static 'img/ours/ereputation3.png' %}" alt="slider3"></li>
                        <li><img src="{% static 'img/ours/ereputation4.png' %}" alt="slider4"></li>
                        <li><img src="{% static 'img/ours/ereputation5.png' %}" alt="slider5"></li>
                        <li><img src="{% static 'img/ours/ereputation6.png' %}" alt="slider6"></li>
                        <li><img src="{% static 'img/ours/ereputation7.png' %}" alt="slider7"></li>
                        <li><img src="{% static 'img/ours/ereputation8.png' %}" alt="slider8"></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section id="contact-two-section" class="section-wrapp-container" style="padding-top: 80px; padding-bottom: 80px;">
		<div class="row">
			<div class="columns large-9 large-centered small-centered intro-text">
		 		<h2>Get in touch</h2>
				<p class="fontcomun">
				   Don't hesitate to contact us for any information about our service or
                    if you are interested in a job position, intership or conference.
				</p>
			</div>
		</div>
		<div class="row contact-map-section" style="background-image:url({% static 'img/ours/ecuador-eps.png' %})">
			<div class="large-10 columns large-centered small-centered waypoint-element">
				<div>
					<br><br><br><br>
				</div>

				<div class="large-5 columns flip-container2">
					<div class="flipper2">
						<div class="wrap2 front2">
							<div class="border border-one"></div>
							<div class="border border-two"></div>
							<h2>George Navarro</h2>
							<span>Project Manager</span>
							<ul>
								<li><a href="mailto:gnavarrog1802@gmail.com">gnavarrog1802@gmail.com</a></li>
								<li>+1 (786) 663-0517</li>
							</ul>
						</div>
						<div class="back2 wrap2">
							<div class="border border-one"></div>
							<div class="border border-two"></div>
							<span>Senior Software Developer</span>
							<p>
                                Team leader, always willing to teach and help. He's responsible with job and likes teamwork enviroment
                            </p>
						</div>
					</div>
				</div>

                <div class="large-5 columns flip-container2">
					<div class="flipper2">
						<div class="wrap2 front2">
							<div class="border border-one"></div>
							<div class="border border-two"></div>
							<h2>Maria Pons</h2>
							<span>Digital Supervisor</span>
							<ul >
								<li><a href="mailto:mcpons2010@hotmail.es">mcpons2010@hotmail.es</a></li>
								<li>+1 (786) 663-7015</li>
							</ul>
						</div>
						<div class="back2 wrap2">
							<div class="border border-one"></div>
							<div class="border border-two"></div>
							<span>Digital Marketing Manager</span>
							<p>
                                Person with good cheer work inspiring the team with a good positive attitude, always thinking of getting ahead.
                            </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}